In [2]:
# This script combines all the datasets into one and clean the data (Null value)

In [4]:
import pandas as pd
import numpy as np

In [6]:
# Load and add branch name for each DF
McDonald_Petronas_Kota_Damansara_DT = pd.read_excel("Dataset/McDonald’s Petronas Kota Damansara DT.xlsx", sheet_name="Recovered_Sheet1")
McDonald_Petronas_Kota_Damansara_DT["Branch"] = "McDonald’s Petronas Kota Damansara DT"

McDonald_The_Mines = pd.read_excel("Dataset/McDonald The Mines.xlsx", sheet_name="Recovered_Sheet1")
McDonald_The_Mines["Branch"] = "McDonald The Mines"

McDonald_Shell_Taman_Desa_DT = pd.read_excel("Dataset/McDonald Shell Taman Desa DT.xlsx", sheet_name="Recovered_Sheet1")
McDonald_Shell_Taman_Desa_DT["Branch"] = "McDonald Shell Taman Desa DT"

McDonald_Shell_Saujana_Utama_DT = pd.read_excel("Dataset/McDonald Shell Saujana Utama DT.xlsx", sheet_name="Recovered_Sheet1")
McDonald_Shell_Saujana_Utama_DT["Branch"] = "McDonald Shell Saujana Utama DT"

McDonald_Puchong_Perdana_SF = pd.read_excel("Dataset/McDonald Puchong Perdana SF.xlsx", sheet_name="Recovered_Sheet1")
McDonald_Puchong_Perdana_SF["Branch"] = "McDonald Puchong Perdana SF"

McDonald_Desa_Petaling_SF = pd.read_excel("Dataset/McDonald Desa Petaling SF.xlsx", sheet_name="Recovered_Sheet1")
McDonald_Desa_Petaling_SF["Branch"] = "McDonald Desa Petaling SF"

McDonald_BHP_Jalan_Genting_Kelang_DT_Store_476 = pd.read_excel("Dataset/McDonald BHP Jalan Genting Kelang DT Store 476.xlsx", sheet_name="Recovered_Sheet1")
McDonald_BHP_Jalan_Genting_Kelang_DT_Store_476["Branch"] = "McDonald BHP Jalan Genting Kelang DT Store 476"

McDonald_AEON_BiG_Bukit_Rimau_DT = pd.read_excel("Dataset/McDonald AEON BiG Bukit Rimau DT.xlsx", sheet_name="Recovered_Sheet1")
McDonald_AEON_BiG_Bukit_Rimau_DT["Branch"] = "McDonald AEON BiG Bukit Rimau DT"

In [8]:
# Concatenate all DF
df = pd.concat(
    [
        McDonald_Petronas_Kota_Damansara_DT,
        McDonald_The_Mines,
        McDonald_Shell_Taman_Desa_DT,
        McDonald_Shell_Saujana_Utama_DT,
        McDonald_Puchong_Perdana_SF,
        McDonald_Desa_Petaling_SF,
        McDonald_BHP_Jalan_Genting_Kelang_DT_Store_476,
        McDonald_AEON_BiG_Bukit_Rimau_DT
    ],
    axis=0
)
df.columns = McDonald_Petronas_Kota_Damansara_DT.columns

In [10]:
# Keep only the specified columns and rename them
df_cleaned = df[['Branch', 'd4r55', 'rsqaWe', 'wiI7pd']].copy()
df_cleaned.columns = ['Branch', 'Customer', 'Time', 'Reviews']

# Drop rows where all values are NaN
df_cleaned.dropna(how='all', inplace=True)

# Show the cleaned dataset
df_cleaned.head()

,Branch,Customer,Time,Reviews
0,McDonald’s Petronas Kota Damansara DT,Hamd,3 weeks ago,Worst McDonalds Ive visited in my life.\n\nFoo...
1,McDonald’s Petronas Kota Damansara DT,Megan Ooi,3 months ago,"worst service ever, when requested for chicken..."
2,McDonald’s Petronas Kota Damansara DT,VincentKoh LUMCFan,5 months ago,[2022-2024]\n\nAlways ALWAYS a pleasant locati...
3,McDonald’s Petronas Kota Damansara DT,Pang Choon Fuei,4 months ago,I done the kiosk order and pay Cash.\n\nBut em...
4,McDonald’s Petronas Kota Damansara DT,nur aein,3 months ago,"Please train your mc cafe staff, order ice ble..."

In [12]:
# Replace missing values with specified defaults
df_cleaned['Customer'] = df_cleaned['Customer'].fillna('Unknown')
df_cleaned['Time'] = df_cleaned['Time'].fillna('Unknown')
df_cleaned['Reviews'] = df_cleaned['Reviews'].fillna('No Review')
df_cleaned['Branch'] = df_cleaned['Branch'].fillna('Unknown')

In [14]:
# Save the cleaned DataFrame to an Excel file
df_cleaned.to_excel("Dataset/McDonalds_Reviews_Details.xlsx", index=False)